name: CI
on:
  push:
    branches:
      - 'master'
  pull_request:
    branches-ignore:
      - 'release'
jobs:
  supported-jdk:
    name: ${{ matrix.title }}
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        include:
          - title: "JDK 11"
            java: 11
          - title: "JDK 18"
            java: "18"
          - title: "JDK 21"
            java: "21"
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout from Git'
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4.8.0
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: 'Display JDK version'
        run: java -version
      - name: Cache local Maven repository
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: 'Test'
        # install rather than verify to ensure correct version used during integration test
        run: mvn -B install
