name: CI
on:
  push:
    branches:
      - 'master'
  pull_request:
    branches-ignore:
      - 'release'
jobs:
  supported-jdk:
    name: ${{ matrix.title }}
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        include:
          - title: "JDK 11"
            java: 11
          - title: "JDK 18"
            java: "18"
          - title: "JDK 21"
            java: "21"
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout from Git'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@5d7b214878a63ef0089e24024c084e31e5066927 # v4.5.0
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: 'Display JDK version'
        run: java -version
      - name: Cache local Maven repository
        uses: actions/cache@d4323d4df104b026a6e5435f29a0af381010bb5a # v4.2.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: 'Test'
        # install rather than verify to ensure correct version used during integration test
        run: mvn -B install
